    <footer>
      <%= link_to "Medical Study","/", class: "footer-home-link"%>
      <ul class="footer-list">
        <li class="lists"><%= link_to "お問い合わせ","/"%></li>
        <li class="lists"><%= link_to "運営企業","/"%></li>
        <li class="lists"><%= link_to "利用規約","/"%></li>
        <li class="lists"><%= link_to "プライバシーポリシー","/"%></li>
        <li class="lists"><%= link_to "サイトマップ","/"%></li>
      </ul>
      <div class="copyright">Copyright © PT CORPORATION. All Rights Reserved.</div>
    </footer>