これはpostのindexです
<h1>
  <%= link_to '投稿する', new_post_path, method: :get %>
</h1>

<%# 一覧表示 %>
<% @posts.each do |post| %>
<%= image_tag post.image.variant(resize:'100x100'), class: 'message-image' if post.image.attached?%>
  <%= post.user.name %>
  <%= post.title %>
  <%= post.detail %>
  <%= link_to "詳細", post_path(post.id), method: :get %>
  <br>
<% end %>
<%# 一覧表示 %>
