<%= render "shared/header" %>
<div class="post-index">投稿一覧</div>
  <div class="post-all">
    <% @posts.each do |post| %>
    <div class="post-top">
      <div class="post-title"><%= post.title %></div>
        <%= image_tag post.image.variant(resize:'200x200'), class: "post-image" if post.image.attached?%>
        <div class="read-article"><%= link_to "記事を読む", post_path(post.id), method: :get %></div>
    </div>
    <% end %>
  </div>
<% if user_signed_in? %>
<div class='post-btn'>
  <%= link_to "投稿する",new_post_path, class: "post-btn-text"%>
</div>
<% end %>
<%= render "shared/footer" %>