<%= render "shared/header"%>
<div class="show-title"><%= @post.title %></div>
<div class="show-image"><%= image_tag @post.image.variant(resize:'500x750'), class: 'message-image' if @post.image.attached?%></div>
<div class="show-detail"><%= @post.detail %></div>

<div class="user-only">
<% if user_signed_in? && current_user.id == @post.user.id %>
<%= link_to '削除', "/posts/#{@post.id}", method: :delete %>
<%= link_to '編集', edit_post_path(@post.id), method: :get %>
<% end %>
</div>

<div class="comment-form">
  <% if current_user %>
    <%= form_with(model: [@post, @comment], local: true) do |form| %>
      <%= form.text_area :content, placeholder: "質問等を入力", rows: "2" %>
      <%= form.submit "SEND" %>
    <% end %>
  <% else %>
      コメントにはサインインが必要です。
  <% end %>
</div>
<%= render 'shared/error_messages', model: @comment %>
<div class="comment-top">
  <div class="comment-header">＜コメント一覧＞</div>
  <div class="comment-index">
    <% if @comments %>
      <% @comments.each do |comment| %>
        <p class="comment-part">
          <%= comment.user.name %>：<%= comment.content %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>
