<!DOCTYPE html>
<html>
  <head>
    <title>MedicalStudy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>header</header>
    　<div>
        <nav>left</nav>
        <main>main</main>
        <aside>aside</aside>
      </div>
    <%= yield %>
    <footer>footer</footer>
  </body>
</html>
